#!/usr/bin/make -f

build: clean binary

clean:
	dh_clean

binary:
	dh_testdir
	dh_testroot
	dh_install -X.svn
	dh_installchangelogs
	dh_installmime
	dh_icons
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	dh_clean
	
