[Desktop Entry]
Name=jOrgan
Comment=Java Virtual Organ
Comment[de]=Java virtuelle Orgel
GenericName=Java Virtual Organ
Exec=jorgan
Terminal=false
Type=Application
StartupNotify=true
Icon=jorgan
Categories=GNOME;AudioVideo;
MimeType=application/jorgan.disposition;
StartupWMClass=jorgan