Source: jorgan
Section: sound
Priority: optional
Maintainer: Sven Meier <sven@meiers.net>
Build-Depends: debhelper, openjdk-7-jdk
Standards-Version: 3.8.4
Homepage: http://jorgan.sourceforge.net

Package: jorgan
Architecture: any
Depends: default-jre,libfluidsynth2
Recommends: qjackctl
Description: jOrgan
	Java Virtual Organ
