<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>jOrgan</string>
	<key>CFBundleVersion</key>
	<string>@version@</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>jorgan.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>jorgan.bootstrap.Bootstrap</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>ClassPath</key>
		<string>$JAVAROOT/jorgan.jar</string>
		<key>VMOptions</key>
		<array>
			<string>--illegal-access=permit</string>
			<string>-Xms32M</string>
			<string>-Xmx512M</string>
		</array>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>apple.awt.showGrowBox</key>
			<string>true</string>
			<key>com.apple.macos.smallTabs</key>
			<string>true</string>
		</dict>
	</dict>
	<key>CFBundleDocumentTypes</key>
	<array>
    	<dict>
        	<key>CFBundleTypeExtensions</key>
        	<array>
            	<string>disposition</string>
        	</array>
        	<key>CFBundleTypeName</key>
        	<string>jOrgan disposition</string>
        	<key>CFBundleTypeIconFile</key>
        	<string>jorgan.icns</string>
        	<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
    	</dict>
	</array>
</dict>
</plist>
